{% extends "AppBundle:Portada:layoutPortada.html.twig" %}
{% block content %}
    <div class="col-lg-8 box-default">
        <div class=" panel-primary panel-heading">Contatcenos</div>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}