{% extends "AppBundle:Portada:layoutPortada.html.twig" %}
{% block content%}
    <div class="row">
        <p>Somos una empresa que se crea con la finalidad de entregar nuevas formas de ahorro a la mayoria de la gente</p>
    </div>
{% endblock %}