{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block title %}
{{ parent() }} - lote Carga
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-lg-12">

 <!-- /#top -->


<div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

<div class="row">

        <div class="table-responsive col-md-12">
        </div>
</div> <!-- /#list -->






        </div>
{% endblock %}

