{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
    <div class="box-default">
        {{dump(proyecto)}}
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}
